@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF Pro Display";
    src: url("../../assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display";
  }

  body::-webkit-scrollbar {
    width: 2px;
    background-color: #fce8bd;
    height: 0;
  }

  body::-webkit-scrollbar-thumb {
    background: #064f7f;
    border-radius: 20px;
  }

  .container {
    max-width: 1140px !important;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }

  a {
    @apply no-underline;
  }

  ul {
    @apply list-none;
  }

  .nav__link {
    @apply text-white text-[16px] tracking-wide relative after:content-[''] after:absolute after:bottom-[-4px] after:left-0 after:w-full after:h-[2px] after:bg-white after:transition-all after:duration-300 after:scale-x-0 after:hover:scale-x-100 after:rounded-full mini:text-[14px] xs:text-[14px] sm:text-[14px] md:text-[14px];
  }

  .title {
    @apply text-[#2c3442] md:text-[32px] sm:text-[28px] text-[24px] text-center;
  }
}

@layer utilities {
  .bg-img {
    background-image: url('../images/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #064f7f;

  }

  .scroll::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background: #fce8bd;

  }
}